 


<div class="container">
  <img class="img-responsive" src="../assets/img/OBP_full_web.png" alt="Chania">
  <h1>Open Bank POC - Open Bank Plateform</h1>
  <p>This example demonstrates .</p>      
  <p>Resize the browser window to see the effect.</p>  
    <div class="row">
        <div class="col-sm-6" style="background-color:cyan">
            <accounts-component></accounts-component>
        </div>
        <div class="col-sm-6" style="background-color:mediumseagreen">
            <add-account-form></add-account-form>
        </div>
    </div>
</div>




